{% url 'login' as login%}
{% url 'register' as register %}
{% url 'logout' as logout %}
{% load static %}



<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse hide justify-content-end" id="collapsibleNavbar">
        <ul class="nav navbar-nav ml-auto ">

            {% if user.is_authenticated%}
            <li class="nav-item {% if request.path == logout %}active{% endif %}" href="{% url 'logout'%}">
                <a class="nav-link" href="{{logout}}">
                    <span class="fas fa-sign-in-alt"></span>
                    Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.path == login %}active{% endif %}">
                <a class="nav-link" href="{{login}}">
                    <span class="fas fa-user"></span> <!-- Font Awesome icon for "user" -->

                    Login</a>
            </li>
            <li class="nav-item {% if request.path == register %}active{% endif %}">
                <a class="nav-link" href="{{register}}">
                    <span class="fas fa-user-plus"></span>
                    Registro</a>
            </li>
            
            {% endif %}
        </ul>
    </div>
</nav>

